.footer{
  background-color: #8f57fd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.footer a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 10px;
  cursor: pointer;
}
.footer a:hover{
  text-decoration: underline;
}
