.registro{
  background: linear-gradient(#21C08B, #ab88ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.registro__container{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.registro__container h2{
  display: flex;
  justify-content: center;
}
.registro__container--form{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.registro__container--iniciar-secion p{
  text-align: center;
  font-size: 20px;
}
.registro__container--iniciar-secion a{
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}
.registro__container--iniciar-secion a:hover{
  text-decoration: underline;
}
.registro__container--form >.input{
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  color: white;
  outline: none;
  height: 50px;
}
::placeholder{
  color: white;
}
.button{
  background-color: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}